{% extends 'base.html' %}

{% block title %}
SongScaffolder
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 header-col">
            <div class="p-2 lead text-center">Use + Randomize These!</div>
        </div>
        <div class="col-4 header-col">
            <div class="p-2 lead text-center">I Want This Many.</div>
        </div>
        <div class="col-4 header-col">
            <div class="p-2 lead text-center">I Define Them Here.</div>
        </div>
    </div>
    <hr>

    <div class="row zero-row">
        <div class="col-4 first-col d-flex justify-content-center">
            <p class="get-help h3 text-center" id="get-help-for-fields">
                <i class="fa fa-question-circle" class="get-help h3 text-center" data-toggle="tooltip" data-placement="right" data-html="true" title="Checking these will include random selections of the corresponding field into the scaffold. These selections can be specified by clicking the appropriate <a class='fa fa-list fa-list-tooltip'></a> button." id="get-help-with-randomizing_{{ field.id }}"></i>
            </p>
        </div>
        <div class="col-4 second-col d-flex justify-content-center">
            <p class="get-help h3 text-center" id="get-help-for-quantities">
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="These determine how many items from the corresponding field should be included in the scaffold."></i>
            </p>
        </div>
        <div class="col-4 third-col d-flex justify-content-center">
            <p class="get-help h3 text-center" id="get-help-for-specifications">
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Clicking these will allow you to specify the selections for the corresponding field."></i>
            </p>
        </div>
    </div>

    {% if fields %}
        {% for field in fields %}
            <!-- One whole row -->
            <div class="row first-row">
                <!-- 1: The field name, the switch for it, and an info bubble -->
                <div class="col-4 first-col">
                    <div class="row">
                        <div class="col-7 text-right">
                            <p class="center">{{ field.title }}</p>
                        </div>
                        <div class="col-5">
                            <label class="switch">
                                <input class="field-switch" type="checkbox" id="switch-include_{{ field.id }}" tabindex=0>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 2: The quantity form for the field -->
                <div class="col-4 second-col d-flex justify-content-center" >
                    <form>
                        <input type="text" class="no-border border-bottom text-center field-form" id="quantity-for_{{ field.id }}" placeholder=1><br><br>
                    </form>
                </div>
                <!-- 3: The specs and an info bubble for what they do -->
                <div class="col-4 third-col d-flex justify-content-center">
                    <div class="row">
                        <div class="col-2"><a class="fa fa-list" id="define-specs-for_{{ field.id }}" href="{% url 'field:config' field.id %}"></a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row last-row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <button class="btn btn-lg btn-block btn-green" id="btn-make-scaffold" data-toggle="modal" data-target=".bd-example-modal-lg">SCAFFOLD THAT SONG</button>
        </div>
        <div class="col-2">
        </div>
    </div>

    <div class="container-fluid">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="jumbotron">
                    <h4 id="scaffold-quote" class="display-4 text-center"></h4>
                    <table class="table table-striped">
                        <tbody>

                        </tbody>
                    </table>
                    <div id="what-the-heck-section"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Eventually I want to remove this call to jQuery, since I think it should only be done in base.html.  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>
        $("#btn-make-scaffold").on("click", function() {
            // For fun, we have nice quotes. :)
            scaffoldQuotes = [
                "Take it and run!",
                "You <em>can</em> make the thing!",
                "Make it tasty!",
                "Don't forget the sauce!",
                "Make your heroes proud!",
                "You were born for this!",
                "Never stop not stopping!",
                "We have liftoff!",
                "And GO!",
                "3,2,1, L E T ' S 🎷 J A M",
                "Carry that weight!",
            ];
            // First, we'll clear any old scaffold results.
            tbody = $("tbody")
            scaffoldQuote = $("#scaffold-quote")
            scaffoldQuote.html("")
            tbody.children().remove()
            sectionWTH = $("#what-the-heck-section")
            sectionWTH.children().remove()

            metadata = {}
            fieldsToInclude = $('input[type="checkbox"]')
            for (i=0 ; i < fieldsToInclude.length; i++){
                fieldName = fieldsToInclude[i].id.split("_")[1]
                quantityForm = $(`input[id^="quantity-for_${fieldName}"]`)
                fieldValue = quantityForm.val() != "" ? parseInt(quantityForm.val()) : 1
                if (fieldsToInclude[i].checked == true) {
                    metadata[fieldName] = {
                        "include": true,
                        "quantity": fieldValue
                    }
                }
                else {
                    metadata[fieldName] = {
                        "include": false
                    }
                }
            }
            $.ajax({
                type: "GET",
                url: "{% url 'pages:make-scaffold' %}",
                dataType: "json",
                data: {
                    "metadata": JSON.stringify(metadata)
                },
                success: function(data){
                    for (const [key, value] of Object.entries(data)){
                        tbody.append(
                            `
                                <tr>
                                    <td>${key}</td>
                                    <td>${value.join(', ')}</td>
                                </tr>
                            `
                        );
                    }
                    if (Object.entries(data)[0][0] != "You selected nothing!") {
                        scaffoldQuote.html(scaffoldQuotes[Math.floor(Math.random() * scaffoldQuotes.length)])
                        $("#what-the-heck-section").append(`
                        <br>
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <a type="button" id="btn-what-the-heck" class="btn btn-grey btn-block btn-small" href="{% url 'pages:what-the-heck' %}">What the heck?</a>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        `)
                    }
                    else {
                        scaffoldQuote.html("Whoops 🔌")
                    }
                },
                failure: function(data){
                    scaffoldQuote.html("Hmm...")
                    tbody.append(
                            `
                                <tr>
                                    <td>There was a failure.</td>
                                    <td>We're not sure why.</td>
                                </tr>
                            `
                    )
                },
                error: function(xhr, status, error){
                    scaffoldQuote.html("🤯")
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    tbody.append(
                            `
                                <tr>
                                    <td>There was an error:</td>
                                    <td>${errorMessage}</td>
                                </tr>
                            `
                    )
                }
            });
        });
    </script>
{% endblock %}