{% extends 'base.html' %}

{% block title %}
What The Heck
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="display-4">Ah yes, vague results.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="lead">We like those here. 😁</p>
                </div>
            </div>
        </div>

        <section>
            <p>We can explain.</p>
            <p>But first, let's use <strong>even more</strong> vague results from an example scaffold!</p>
        </section>
        <section>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <label for="example-scaffold-results"><em>More vague results from an example scaffold</em></label>
                    <table id="example-scaffold-results" class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Chords</td>
                                <td>7sus4, 7add11, m11</td>
                            </tr>

                            <tr>
                                <td>Genres</td>
                                <td>Drum n Bass, Space Glam Rock</td>
                            </tr>

                            <tr>
                                <td>Instruments</td>
                                <td>Bouzouki, Piano</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-"></div>
            </div>
        </section>
        <br>
        <section>
            <p>It's okay if you don't have a bouzouki. (Items in a scaffold should only reflect things you have access to anyway.)</p>
        </section>
        <br>
        <hr>
        <section>
            <p>"So, how do you interpret these vague results??" you ask.</p>
        </section>
        <section>
            <p class="lead">Ultimately, <span class="font-weight-bold">there's no right or wrong way to interpret these vague results!</span></p>
            <p>...But you can click on the numbered links below for some different ways you <em>could</em> interpret them.</p>
        </section>
        <section>
            <div class="accordion" id="myAccordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><h5>1. "I need ideas!"</h5></button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>Pick and choose what you like from the scaffold! Heck, you don't have to use <em>anything</em> in it!</p>
                            <p>Maybe you just need ideas and combinations you wouldn't normally think of otherwise.<span style="font-size: 1.5em;">🎨🖌️🤸‍♀️</span></p>
                            <p>Are you playing G, Em, C, and D chords all the time? Well, what if you threw in an F7sus4 chord? Or a <em>C#m11??</em> <strong>Bonkers.</strong></p>
                            <p>This approach is really helpful for sparking your imagination!</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><h5>2. "I must obey the scaffold."</h5></button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>You have to use everything specified in the scaffold... but you can also add <em>more</em> stuff. 😉</p>
                            <p>Do you like guitar? <strong>Go for it,</strong> throw some guitar into the mix! (As long as you've got piano and bouzouki in there too.)</p>
                            <p>Maybe you like switching from 4/4 time to 22/8 time? <strong>Heck yeah</strong> you maybe do, and nothing in the scaffold says you can't.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><h5>3. "I MUST OBEY THE SCAFFOLD."</h5></button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="card-body">
                            <p>Whatever is in the scaffold is all you can use to write a song with. <strong>No exceptions.</strong></p>
                            <p>Do you like guitar? <strong>Too bad, it's not a bouzouki!</strong></p>
                            <p>Oh, do you <em>not</em> like bouzoukis? Are they not <strong>good enough</strong> for you??? Maybe your ears prefer the <em>sumptuous sounds of the bağlama???</em></p>
                            <p>Go. The Great Scaffolder has spoken.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>Those are just a few ways to approach the results.</p>
        </section>
        <section>
            <p>You see, SongScaffolder is simply a tool that generates randomized data to help you write songs. This data could be interpreted as a blueprint, a prompt, whatever. In the end, the right interpretation is the one where SongScaffolder works for <span class="font-italic">you.</span></p>
        </section>
        </section>
            <p>(I know it's cheesy, but it's true.)</p>
        <section>
    </div>


    <!-- Eventually I want to remove this call to jQuery, since I think it should only be done in base.html.  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>
        $("#btn-make-scaffold").on("click", function() {
            // First, we'll clear any old scaffold results.
            tbody = $("tbody")
            tbody.children().remove()

            metadata = {}
            fieldsToInclude = $('input[type="checkbox"]')
            for (i=0 ; i < fieldsToInclude.length; i++){
                fieldName = fieldsToInclude[i].id.split("_")[1]
                quantityForm = $(`input[id^="quantity-for_${fieldName}"]`)
                fieldValue = quantityForm.val() != "" ? parseInt(quantityForm.val()) : 1
                if (fieldsToInclude[i].checked == true) {
                    metadata[fieldName] = {
                        "include": true,
                        "quantity": fieldValue
                    }
                }
                else {
                    metadata[fieldName] = {
                        "include": false
                    }
                }
            }
            $.ajax({
                type: "GET",
                url: "{% url 'pages:make-scaffold' %}",
                dataType: "json",
                data: {
                    "metadata": JSON.stringify(metadata)
                },
                success: function(data){
                    for (const [key, value] of Object.entries(data)){
                        tbody.append(
                            `
                                <tr>
                                    <td>${key}</td>
                                    <td>${value.join(', ')}</td>
                                </tr>
                            `
                        );
                        if (key != "You selected nothing!") {
                            $("#results-modal").append(`
                            <br>
                            <div class="row">
                                <div class="col-3">
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                    <a type="button" id="btn-what-the-heck" class="btn btn-grey btn-block btn-small" href="{% url 'pages:what-the-heck' %}">What the heck?</a>
                                </div>
                                <div class="col-3">
                                </div>
                            </div>
                            `)
                        }

                    }
                },
                failure: function(data){
                    tbody.append(
                            `
                                <tr>
                                    <td>There was a failure.</td>
                                    <td>We're not sure why.</td>
                                </tr>
                            `
                    )
                },
                error: function(xhr, status, error){
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    tbody.append(
                            `
                                <tr>
                                    <td>There was an error:</td>
                                    <td>${errorMessage}</td>
                                </tr>
                            `
                    )
                }
            });
        });
    </script>
{% endblock %}