:root {
    --primary-green: #4CD964;
    --hover-green: #0e9446;
    --primary-grey: #3d3d3d;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    color: black;
}

.first-col, .second-col, .third-col{
    padding-top: inherit;
    padding-bottom: inherit;
}

.first-col, .second-col{
    border-right: 1px solid #4CD964;
}

.main-col {
    /* border: 2px solid black; */
}

.container{
    /* background-color: rgb(189, 203, 218); */
}

.zero-row{
    padding-top: 12px;
    height: 88px;
}

.first-row{
    /* padding-top: 60px; */
}

.last-row{
    margin-top: 60px;
}

.lead {
    font-size: 30px;
    color: rgb(36, 36, 36)
}

.no-border {
    border: 0px;
}

.inherit-bg-color {
  background-color: inherit !important;
}

.item-input {
  width: 100%;
}

/* Switch styling */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--primary-green);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    filter: drop-shadow(2px 2px 2px #2a7423);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
    filter: drop-shadow(2px 2px 2px #818181);
  }

  .fa-list {
    color: white;
    background-color: var(--primary-grey);
    padding: 10px;
    margin-left: 20px;
    border-radius: 50px;
    font-size: 20px;
  }

  .fa-question-circle {
    color: var(--primary-green);
    font-size: 34px;
    bottom: 10px;
  }

.center{
  text-align: center;
}

.btn-green{
  color: white;
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.btn-green:hover{
  background-color: var(--hover-green);
  border-color: var(--hover-green);
}

.btn-delete{
  background-color: var(--primary-grey) !important;
  border-color: var(--primary-grey) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.logo {
  font-family: 'Shrikhand', cursive;
  margin-top: 20px;
  color: white;
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: var(--primary-green);
  filter: drop-shadow(5px 5px 1px var(--primary-green));
  paint-order: stroke fill;
}

.modal-content {
  background-color: #E9ECEF;
  font-size: 1.3em;
}

.nested-config-1 {
  padding-left: 50px;
}
.nested-config-2 {
  padding-left: 100px;
}

a:link, a:hover, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.hidden {
  display: none;
}

.footer {
  left: 0;
  bottom: 0;
  margin: 100px 0px 30px 0px;
  padding: 10px 0px 10px 0px;
  border-radius: 7px;
  letter-spacing: 1.5px;
  background-color: #e5e5e5 !important;
  color: var(--primary-grey);
  text-align: center;
}

.footer a {
  color: var(--link);
}

.hello-user {
  font-family: 'Grandstander', cursive;
  font-size: 1.5em;
  color: grey;
  text-shadow: 3px 3px 3px rgba(99, 111, 128, 0.3);
  transform: rotate(10deg);
}

.background-white {
  background-color: white;
}

.background-grey {
  background-color: rgb(241, 241, 241);
}

.config-key {
  font-size: 1.5em;
}

.config-value {
  font-size: 1.5em;
}

.config-header {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  color: white;
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: var(--primary-grey);
  paint-order: stroke fill;
}

.staged-for-deletion {
  display: none !important;
}

.tooltip-inner {
  background-color: var(--primary-grey);
}

/* This still needs work. */
.tooltip-arrow {
  background-color: var(--primary-grey);
  border-top-color: #7abcff !important;
}

.tooltip-bold {
  font-weight: 700;
}