:root {
    --primary-green: #4CD964;
    --faded-green: #bec5c0;
    --dark-green: #0e9446;
    --primary-grey: #3d3d3d;
    --dark-grey: #1a1a1a;
    --light-grey: #ccc;
    --white: rgb(246, 246, 246);
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--white);
}

p {
  font-size: 1.2em;
}

/* || General styling */

.lead {
    font-size: 30px;
    color: rgb(36, 36, 36)
}

.no-border {
    border: none;
}

.inherit-bg-color {
  background-color: inherit !important;
}

.get-help-row{
  padding-top: 12px;
  height: 88px;
}

/* || Input styling */

input[class^='config-input-']{
  width: 100% !important;
  font-size: 24px;
}


/* || Switch styling */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  filter: drop-shadow(2px 2px 2px #2a7423);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px #818181);
}

/* || FontAwesome styling */

.fa-list {
  color: var(--white);
  background-color: var(--primary-grey);
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
}

.fa-list-tooltip {
  padding: 6px;
  margin: 0px 5px 0px 5px;
  border-radius: 50px;
  font-size: 12px;
}

.fa-question-circle {
  color: var(--primary-green);
  font-size: 34px;
  bottom: 10px;
}

.fa-times-circle {
  color: var(--primary-grey);
  font-size: 40px;
}

.center{
  text-align: center;
}

.btn-confirm{
  color: var(--white);
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.btn-green{
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  background-color: var(--primary-green);
}

#btn-make-scaffold {
  font-family: 'Shrikhand', cursive;
  font-size: 36px;
}

.btn-confirm:hover{
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.btn-grey{
  color: var(--white);
  background-color: var(--primary-grey);
  border-color: var(--primary-grey);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.btn-grey:hover{
  color: var(--white);
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
}

button.row-deleter{
  font-size: 16px;
  background-color: var(--primary-grey) !important;
  border-color: var(---grey) !important;
}

.btn-small{
  font-size: 20px;
}

.logo {
  font-family: 'Shrikhand', cursive;
  margin-top: 20px;
  font-size: 56px;
  color: var(--white);
  -webkit-text-stroke: 2px var(--primary-green);
  text-shadow:
  -0px -0px 0 var(--primary-green),
  0px -0px 0 var(--primary-green),
  -0px 0px 0 var(--primary-green),
  3px 3px 0 var(--primary-green);
}



.modal-content {
  background-color: #E9ECEF;
  font-size: 1.3em;
}

.nested-config-1 {
  padding-left: 50px;
}
.nested-config-2 {
  padding-left: 100px;
}

a:link, a:hover, a:active {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}

a:active {
  color: var(--white);
}

.hidden {
  display: none;
}

.footer {
  left: 0;
  bottom: 0;
  margin: 100px 0px 30px 0px;
  padding: 10px 0px 10px 0px;
  border-radius: 7px;
  letter-spacing: 1.5px;
  background-color: #e5e5e5 !important;
  color: var(--primary-grey);
  text-align: center;
}

a {
  color: var(--dark-green) !important;
}
a:hover {
  color: var(--primary-green) !important;
}
a:active {
  color: var(--dark-green) !important;
}

a.fa, a.fa:active {
  color: var(--white) !important;
}

a.row-deleter, a.row-deleter:active {
  color: var(--white) !important;
}

.hello-user {
  font-family: 'Grandstander', cursive;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: 3px 3px 3px var(--dark-green);
}

.tilt{
  transform: rotate(10deg);
}

.background-white {
  background-color: var(--white);
}

.background-grey {
  background-color: rgb(241, 241, 241);
}

.config-key {
  font-size: 1.5em;
}

.config-value {
  font-size: 1.5em;
}

.config-header {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  color: var(--white);
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke: 2px var(--primary-grey);
  text-shadow:
  -0px -0px 0 var(--primary-grey),
  0px -0px 0 var(--primary-grey),
  -0px 0px 0 var(--primary-grey),
  2px 2px 0 var(--primary-grey);
}

.staged-for-deletion {
  display: none !important;
}

.field-form {
  background-color: var(--white);
  border-color: var(--light-grey) !important;
  font-size: 1.2em;
  width: 100%;
}

.field-form:hover {
  border-color: var(--primary-grey) !important;
}

.field-form::placeholder {
  color: var(--primary-grey);
}

textarea:focus, input:focus{
  outline: none;
}

textarea:hover{
  border-color: var(--primary-grey) !important;
}

.field-item.active .page-link {
    z-index: 3;
    color: var(--white) !important;
    background-color: var(--primary-green) !important;
    border-color: #ddd !important;
}

.page-link.active {
  color: var(--white) !important;
}

.page-link {
  color: var(--primary-green) !important;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.btn-link {
  color: var(--dark-green) !important;
}


.navbar {
  background-color: var(--primary-green) !important;
}

.nav-link {
  font-size: 20px;
  font-weight: bolder !important;
  color: var(--white) !important;
}

.btn-off {
  background-color: var(--faded-green);
  border-color: var(--faded-green);
}

input[id^='button-include_'] {
  font-size: 4.2vw;
}

.btn-div{
  padding-left: 0px;
  padding-right: 0px;
}


/* || Media specific styling */

@media screen and (min-width: 768px){
  .first-col, .second-col{
      border-right: 1px solid #4CD964;
  }
}

@media screen and (max-width: 768px){
  input[class^='config-input-'] {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 576px){
  input[class^='config-input-']{
    font-size: 18px !important;
  }
}

@media screen and (min-width: 380px){
  input[id^='button-include_'] {
    font-size: 18px;
  }
}

@media only screen and (max-width: 992px) {
  div[id^='header-for-'] {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 768px) {
  div[id^='header-for-'] {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 576px) {
  div[id^='header-for-'] {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 576px) {
  p[id^='get-help-for-'] {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1200px){
  .logo {
    font-size: 50px;
  }
}
@media screen and (max-width: 992px){
  .logo {
    font-size: 42px;
  }
}
@media screen and (max-width: 768px){
  .logo {
    font-size: 36px;
    -webkit-text-stroke: 2px var(--primary-green);
    text-shadow:
    -0px -0px 0 var(--primary-green),
    0px -0px 0 var(--primary-green),
    -0px 0px 0 var(--primary-green),
    2px 2px 0 var(--primary-green);
  }
}

@media screen and (max-width: 576px){
  .logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px){
  #btn-make-scaffold {
    font-size: 24px;
  }
}
